:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --vdark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --vlight-gray: hsl(0, 0%, 98%);
}

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

body {
    max-width: 375px;
    padding: 30px 15px;
    margin: 0 auto;
}

h3 {
    font-family: "Poppins-SemiBold";
    font-size: 20px;
    color: var(--vdark-blue);
}

p {
    font-family: "Poppins-ExtraLight";
    font-size: 15px;
    color: var(--grayish-blue);
}

.top {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 1em;
}

.lone {
    font-family: "Poppins-ExtraLight";
}

.box {
    display: flex;
    width: 300px;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 8px 5px var(--grayish-blue), -10px 8px 15px var(--grayish-blue), 10px 8px 15px var(--grayish-blue);
}

.one {
    border-top: 5px solid var(--cyan);
    display: block;
    position: relative;
}

.two {
    border-top: 5px solid var(--red);
    display: block;
    position: relative;
}

.three {
    border-top: 5px solid var(--orange);
    display: block;
    position: relative;
}

.four {
    border-top: 5px solid var(--blue);
    display: block;
    position: relative;
}

.box-text {
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.box-image {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

@media screen and (min-width: 500px) {
    body {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top {
        max-width: 375px;
    }
    .lone {
        font-size: 25px;
    }
    h3 {
        font-size: 25px;
    }
    .boxes {
        display: inline-flex;
        align-content: center;
        justify-content: center;
    }
    .box {
        max-height: 250px;
        align-self: center;
    }
    .middle {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 3em;
    }
}